<!doctype html>

<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<div align="left">
    <table>
        {% for row in [0, 1, 2] %}
            <tr align="center">
            {% for col in [0, 1, 2] %}
                <td align="center">
                    {% if payload["board"][row*3+col] != 0 %}
                        <img src="/static/state{{ payload["board"][row*3+col] }}.jpg">
                    {% else %}
                        {% if payload["gameover"] == 0 %}
                            {% if payload["current_player"] == 1 %}
                                <a href="?action=makeMenaceMove&position={{ row*3+col }}">
                                    <img src="/static/color{{ payload["colors"][row*3+col] }}.jpg">
                                </a>
                            {% else %}
                                <a href="?action=makePlayerMove&position={{ row*3+col }}">
                                    <img src="/static/white.jpg">
                                </a>
                            {%  endif %}
                        {% else %}
                            <img src="/static/white.jpg">
                        {%  endif %}
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
