<!doctype html>

<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript">
    function showPopUp(el) {
        var cvr = document.getElementById("cover")
        var dlg = document.getElementById(el)
        cvr.style.display = "block"
        dlg.style.display = "block"
        if (document.body.style.overflow = "hidden") {
            cvr.style.width = "1024"
            cvr.style.height = "100&#37;"
            }
    }
    function closePopUp(el) {
        var cvr = document.getElementById("cover")
        var dlg = document.getElementById(el)
        cvr.style.display = "none"
        dlg.style.display = "none"
        document.body.style.overflowY = "scroll"
    }
    </script>
    <style type="text/css">
    #cover {
        display:none;
        position:absolute;
        left:0px;
        top:0px;
        width:100%;
        height:100%;
        background:darkgray;
        filter:alpha(Opacity=50);
        opacity:0.5;
        -moz-opacity:0.5;
        -khtml-opacity:0.5
    }
    #dialog {
        display:none;
        left: -600px;
        top: -280px;
        width:1200px;
        height:560px;
        position:relative;
        z-index:100;
        background:beige;
        padding:2px;
        font:10pt tahoma;
        border:1px solid gray;
        margin:20px;
    }
    #centerpoint {
        top: 50%;
        left: 50%;
        position: absolute;
    }
    </style>
</head>

<body style="background: beige"
        {% if payload["gameover"] != 0 and use_modal %}
            onload="showPopUp('dialog')";
        {% endif %}
        >

    <div id="cover"></div>
    <div id="centerpoint">
        <div id="dialog">
            <p id="conversation">
                {% if payload["gameover"] == 1 %}
                    <b>Menace wins!!!</b> <br>
                {% elif payload["gameover"] == 2 %}
                    <b>Human wins!!!</b> <br>
                {% elif payload["gameover"] == 3 %}
                    <b>A draw</b> <br>
                {%  endif %}
                {{ payload["quote"] }} <br><br>
                Please help Menace learn by following these instructions: <br>
                <ul>
                {% for instruction in payload["instructions"] %}
                    <ol id="instructions">
                        {{ loop.index }}. {{ instruction["msg"] }}   (
                        {% if instruction["num"] > 0 %}
                            +
                        {% else %}
                            -
                        {% endif %}
                        {% for i in range(instruction["num"]|abs) %}
                            <img src="static/color{{ instruction["color"] }}.png" height="30px" width="30px">
                        {% endfor %}
                        )
                    </ol>
                {% endfor %}
                </ul>
                <br>
            </p>
            <button type="button" id="button_inline" onclick="location.href='/?action=newGame'">New Game</button>
        </div>
    </div>

    <div style="float:left">
        <table>
            {% for row in [0, 1, 2] %}
                <tr align="center">
                {% for col in [0, 1, 2] %}
                    <td align="center">
                        {% if payload["board"][row*3+col] != 0 %}
                            <img src="static/state{{ payload["board"][row*3+col] }}.png">
                        {% else %}
                            {% if payload["gameover"] == 0 %}
                                {% if payload["current_player"] == 1 %}
                                    <a href="?action=makeMenaceMove&position={{ row*3+col }}">
                                        <img src="static/color{{ payload["colors"][row*3+col] }}.png">
                                    </a>
                                {% else %}
                                    <a href="?action=makePlayerMove&position={{ row*3+col }}">
                                        <img src="static/white.png">
                                    </a>
                                {%  endif %}
                            {% else %}
                                <img src="static/white.png">
                            {%  endif %}
                        {% endif %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div style="float:left; margin-left: 100px; width: 600px;">
        <button type="button" onclick="location.href='/?action=newGame'">New Game</button>
        <p id="conversation">
            <br>
            {% if payload["gameover"] == 0 %}
                {% if payload["current_player"] == 1 %}
                    <b>Menace plays</b> <br>
                    Please open matchbox #{{ payload["matchbox"] }} and play a random bead <br>
                    Don't forget to return the bead to the matchbox <br>
                {% else %}
                    <b>Your turn</b> <br>
                    Make your move, puny human <br>
                {% endif %}
            {%  endif %}
            <br>
        </p>
        <img src="static/chart.png?{{ now }}" class="chart">
    </div>
</body>